<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="bookController"
		class="com.spring.controller.BookController">
		
		<property name="bookService" ref="bookService"></property>
	</bean>

	<bean id="bookService" lazy-init="true"
		class="com.spring.service.impl.BookServiceImpl" scope="prototype">
		<property name="bookId" value="123" />
		<property name="bookName" value="book1" />
		<property name="bookTitle" value="book1 by bear grylls"/>
	</bean>

</beans>